void harceleur(t_ligne releve[1000])///fonction permettant de determiner le nb d'appel entrant et sortant de l'harceleur Oscar RIOTTO
{
    tripermutation(releve);
    int cpte=0, cpts=0;
    for(int i=0;i<1000;i++)///Si le nom correspondant a la structure est RIOTTO on compte on incremente soit le cpt de sortant soit entrant
    {
        if (strcmp(releve[i].nom,"RIOTTO") == 0){
            if (strcmp(releve[i].typeappel,"Entrant") == 0)
                cpte++;
            else
                cpts++;
        }
    }
